@charset "UTF-8";
@media screen and (min-width: 1505px) and (max-width: 2000px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
  }
  .main-container {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 14% 1fr 6%;
        grid-template-rows: 14% 1fr 6%;
        grid-template-areas: "navbar" "main  " "footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: navbar;
    background-color: #e8ffe8;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
  }
  header a:after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: 800ms ease;
    transition: 800ms ease;
  }
  header a:hover:after {
    width: 100%;
  }
  header #eğitim-nav {
    position: absolute;
    right: 20em;
  }
  header #klinik-nav {
    position: absolute;
    right: 6em;
  }
  header #logo {
    font-weight: 800;
    font-size: 1.2em;
    margin-left: 4em;
    display: inline-block;
    border-bottom: 1px solid black;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    margin: 5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.8fr 1fr .8fr;
        grid-template-columns: 1.8fr 1fr .8fr;
    -ms-grid-rows: 0.4fr 0.7fr;
        grid-template-rows: 0.4fr 0.7fr;
    grid-column-gap: 4em;
    grid-row-gap: 5em;
        grid-template-areas: "box1 box2 box4" "box1 box3 box4";
  }
  main .box {
    border-radius: 1.25em;
  }
  main #box1 {
    border: 2px solid #0f117a;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: box1;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 1em;
    -ms-grid-rows: 60% 1fr;
        grid-template-rows: 60% 1fr;
        grid-template-areas: "profil" "terapi";
  }
  main #box1 #hakkımda-profil-anakutu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: profil;
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: .4fr 1fr;
        grid-template-columns: .4fr 1fr;
        grid-template-areas: "foto yazı";
  }
  main #box1 #hakkımda-profil-anakutu h3 {
    font-size: 1.4em;
    position: absolute;
    top: 2em;
    left: 2em;
  }
  main #box1 #hakkımda-profil-anakutu img {
    margin-top: 4em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto;
    width: 10.5em;
    height: 10.5em;
    margin-left: 1.5em;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.74);
  }
  main #box1 #hakkımda-profil-anakutu .yazı1 {
    margin-top: 10em;
  }
  main #box1 #hakkımda-profil-anakutu p {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: yazı;
    font-size: .9em;
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1em;
  }
  main #box1 #hakkımda-terapi-anakutu {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: terapi;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  main #box1 #hakkımda-terapi-anakutu h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main #box1 #hakkımda-terapi-anakutu ul {
    /*border: 1px solid black;*/
    list-style-type: none;
    -webkit-column-count: 3;
            column-count: 3;
    padding: .6em 3% 2% 5%;
  }
  main #box1 #hakkımda-terapi-anakutu li {
    font-size: 0.8em;
    padding-top: .4em;
  }
  main #box1 #hakkımda-terapi-anakutu .hide {
    display: none;
  }
  main #box2 {
    background-color: rgba(244, 244, 244, 0.3);
    border-radius: 1.25em;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: box2;
  }
  main .bize-ulaşın-kutusu {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    /* Whatsapp icon özellikleri */
  }
  main .bize-ulaşın-kutusu:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    -webkit-clip-path: circle(70px at 90% 20%);
            clip-path: circle(70px at 90% 20%);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  main .bize-ulaşın-kutusu:hover:before {
    -webkit-clip-path: circle(500px at 90% -20%);
            clip-path: circle(500px at 90% -20%);
  }
  main .bize-ulaşın-kutusu:hover .tel-num {
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(2.9em) translateY(-1.8em);
            transform: translateX(2.9em) translateY(-1.8em);
    font-size: 1.6em;
  }
  main .bize-ulaşın-kutusu .tel-num {
    -webkit-transition: 800ms;
    transition: 800ms;
    font-size: 1.4em;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 1em;
  }
  main .bize-ulaşın-kutusu .bize-ulaşın-başlık {
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 2px;
    margin: 1em;
  }
  main .bize-ulaşın-kutusu .bize-ulaşın-text {
    font-size: 0.9em;
    width: 310px;
    margin-left: 1em;
  }
  main .bize-ulaşın-kutusu .wp-icon {
    position: relative;
    float: right;
    right: 4px;
    top: 15px;
    fill: white;
    width: 90px;
  }
  main #box3 {
    border: 2px solid chartreuse;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: box3;
    padding: 1em;
    text-decoration: none;
    color: black;
    position: relative;
  }
  main #box3 h3 {
    font-size: 1.4em;
  }
  main #box3 p {
    font-size: 1em;
    position: absolute;
    top: 8em;
  }
  main #map-container {
    border: 2px solid orange;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: box4;
    padding: 1em;
  }
  main #map-container h3 {
    font-size: 1.4em;
  }
  main #map-container p {
    white-space: pre-line;
    margin-top: 2em;
    font-size: 1.4em;
  }
  main #map-container #map {
    margin-top: 10em;
  }
  .pulse svg {
    display: none;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: #e8ffe8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1%;
    padding-left: 3em;
  }
}

/****************************************************/
/* MACBOOK AIR (1440 X 900) */
@media screen and (min-width: 505px) and (max-width: 1500px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
  }
  .main-container {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 14% 1fr 10%;
        grid-template-rows: 14% 1fr 10%;
        grid-template-areas: "navbar" "main  " "footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: navbar;
    background-color: #e8ffe8;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
  }
  header a:after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: 800ms ease;
    transition: 800ms ease;
  }
  header a:hover:after {
    width: 100%;
  }
  header #eğitim-nav {
    position: absolute;
    right: 20em;
  }
  header #klinik-nav {
    position: absolute;
    right: 6em;
  }
  header #logo {
    font-weight: 800;
    font-size: 1.2em;
    margin-left: 4em;
    display: inline-block;
    border-bottom: 1px solid black;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    margin: 5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.8fr 1fr .8fr;
        grid-template-columns: 1.8fr 1fr .8fr;
    -ms-grid-rows: 0.4fr 0.7fr;
        grid-template-rows: 0.4fr 0.7fr;
    grid-column-gap: 4em;
    grid-row-gap: 5em;
        grid-template-areas: "box1 box2 box4" "box1 box3 box4";
  }
  main .box {
    border-radius: 1.25em;
  }
  main #box1 {
    border: 2px solid #0f117a;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: box1;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 1em;
    -ms-grid-rows: 60% 1fr;
        grid-template-rows: 60% 1fr;
        grid-template-areas: "profil" "terapi";
  }
  main #box1 #hakkımda-profil-anakutu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: profil;
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: .4fr 1fr;
        grid-template-columns: .4fr 1fr;
        grid-template-areas: "foto yazı";
  }
  main #box1 #hakkımda-profil-anakutu h3 {
    position: absolute;
    top: 1em;
    left: 1em;
  }
  main #box1 #hakkımda-profil-anakutu img {
    margin-top: 1.4em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto;
    width: 7em;
    height: 7em;
    margin-left: 1.5em;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.74);
  }
  main #box1 #hakkımda-profil-anakutu .yazı1 {
    margin-top: 6em;
  }
  main #box1 #hakkımda-profil-anakutu p {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: yazı;
    font-size: .7em;
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1em;
  }
  main #box1 #hakkımda-terapi-anakutu {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: terapi;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  main #box1 #hakkımda-terapi-anakutu h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main #box1 #hakkımda-terapi-anakutu ul {
    /*border: 1px solid black;*/
    list-style-type: none;
    -webkit-column-count: 3;
            column-count: 3;
    padding: .6em 3% 2% 5%;
  }
  main #box1 #hakkımda-terapi-anakutu li {
    font-size: 0.8em;
    padding-top: .4em;
  }
  main #box1 #hakkımda-terapi-anakutu .hide {
    display: none;
  }
  main #box2 {
    background-color: rgba(244, 244, 244, 0.3);
    border-radius: 1.25em;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: box2;
  }
  main .bize-ulaşın-kutusu {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    /* Whatsapp icon özellikleri */
  }
  main .bize-ulaşın-kutusu:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    -webkit-clip-path: circle(70px at 90% 20%);
            clip-path: circle(70px at 90% 20%);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  main .bize-ulaşın-kutusu:hover:before {
    -webkit-clip-path: circle(500px at 90% -20%);
            clip-path: circle(500px at 90% -20%);
  }
  main .bize-ulaşın-kutusu:hover .tel-num {
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(0.3em) translateY(-1.8em);
            transform: translateX(0.3em) translateY(-1.8em);
    font-size: 20px;
  }
  main .bize-ulaşın-kutusu .tel-num {
    -webkit-transition: 800ms;
    transition: 800ms;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 1em;
  }
  main .bize-ulaşın-kutusu .bize-ulaşın-başlık {
    font-weight: 700;
    letter-spacing: 2px;
    margin: 1em;
  }
  main .bize-ulaşın-kutusu .bize-ulaşın-text {
    font-size: 0.6em;
    width: 210px;
    margin-left: 1em;
  }
  main .bize-ulaşın-kutusu .wp-icon {
    position: relative;
    float: right;
    right: 11px;
    top: 9px;
    fill: white;
  }
  main #box3 {
    border: 2px solid chartreuse;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: box3;
    padding: 1em;
    text-decoration: none;
    color: black;
    position: relative;
  }
  main #box3 p {
    font-size: 0.8em;
    position: absolute;
    top: 8em;
  }
  main #map-container {
    border: 2px solid orange;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: box4;
    padding: 1em;
  }
  main #map-container p {
    white-space: pre-line;
  }
  main #map-container #map {
    margin-top: 7em;
  }
  .pulse svg {
    display: none;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: #e8ffe8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1%;
    padding-left: 3em;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body, html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e8ffe8;
  }
  header #eğitim-nav {
    display: none;
  }
  header #klinik-nav {
    display: none;
  }
  header #logo {
    font-weight: 800;
    font-size: 1.1em;
    margin-left: 2em;
    color: #323232;
  }
  header #logo:after {
    content: " ";
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #161616;
    padding-top: 1px;
    display: table-cell;
    width: 18.4em;
  }
  .main-container {
    overflow-y: visible;
    -ms-grid-rows: 20% 1fr 10%;
        grid-template-rows: 20% 1fr 10%;
  }
  main {
    height: auto;
    grid-area: main;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 1em;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 2em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "box1" "box3" "box4";
  }
  main #box1 {
    margin-top: 2em;
    border: 2px solid #0f117a;
    background: none;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: box1;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: .6fr .2fr;
        grid-template-rows: .6fr .2fr;
    padding: 1em;
        grid-template-areas: "profil" "terapi";
  }
  main #box1 #hakkımda-profil-anakutu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: profil;
    position: relative;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    text-align: justify;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .5fr 1fr;
        grid-template-rows: .5fr 1fr;
        grid-template-areas: "foto" "yazı";
    /*
                    a{
                        margin: 0;
                        margin-left: 1.7em;
                        font-size: .9em;
                        color: blue;
                    }
                    */
  }
  main #box1 #hakkımda-profil-anakutu h3 {
    position: absolute;
    top: 1em;
    left: 1em;
  }
  main #box1 #hakkımda-profil-anakutu img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: foto;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    margin-right: 2em;
    margin-top: 5em;
    border: 2px solid rgba(0, 0, 0, 0.74);
  }
  main #box1 #hakkımda-profil-anakutu .yazı1 .yazı2 {
    width: 90%;
    font-size: 0.8em;
    margin-left: 2em;
  }
  main #box1 #hakkımda-profil-anakutu p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: yazı;
    width: 90%;
    font-size: 0.8em;
    margin-left: 2em;
  }
  main #box1 #hakkımda-terapi-anakutu {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: terapi;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1em;
  }
  main #box1 #hakkımda-terapi-anakutu h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: .8em;
  }
  main #box1 #hakkımda-terapi-anakutu #eğitim {
    margin-bottom: 2.5em;
  }
  main #box1 #hakkımda-terapi-anakutu #klinik {
    font-size: 0.9em;
  }
  main #box1 #hakkımda-terapi-anakutu ul {
    /*border: 1px solid black;*/
    list-style-type: none;
    -webkit-column-count: 1;
            column-count: 1;
  }
  main #box1 #hakkımda-terapi-anakutu li {
    font-size: 0.9em;
    padding-top: .9em;
  }
  main #box1 #hakkımda-terapi-anakutu li .bilgi {
    font-size: 0.8em;
  }
  main #box2 {
    background-color: #b4b4b4;
    grid-area: box2;
    height: 300px;
    display: none;
  }
  main a {
    text-decoration: none;
    color: black;
  }
  main #box3 {
    background: none;
    border: 2px solid chartreuse;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: box3;
    height: 200px;
  }
  main #box3 p {
    width: 80%;
    margin-top: -3em;
    font-size: 1em;
  }
  main #map-container {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: box4;
    border: 2px solid orange;
    padding: 1em;
  }
  main #map-container p {
    white-space: pre-line;
    font-size: 1em;
  }
  main #map-container #map {
    margin-top: 2em;
  }
  .pulse {
    position: fixed !important;
    bottom: 0%;
    left: 85%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #9bdc28;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
    z-index: 1;
  }
  .pulse svg {
    fill: white;
    display: inline;
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .pulse:before,
  .pulse:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 2px solid #87bd2a;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    -webkit-animation: animate 1.5s linear infinite;
            animation: animate 1.5s linear infinite;
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .pulse:after {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
  }
  @keyframes animate {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
  }
  footer {
    background-color: #e8ffe8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1em;
    font-size: .9em;
  }
}
/*# sourceMappingURL=main.css.map */