

// HEADER GOES HERE


header{
    grid-area: navbar;
    background-color: #e8ffe8;
    position: relative;

    display: flex;
    align-items: center;

    a{
        text-decoration: none;
        color: black;
        font-size: $font-size-desktop + .1em;
    }

      
    

    #eğitim-nav{
        position: absolute;
        right: 20em;
    }

    #klinik-nav{

        position: absolute;
        right: 6em;
    }
    
    #logo {
        font-weight: 800;
        font-size: $logo-font-size-desktop;
        margin-left: 4em;
        display: inline-block;
        border-bottom: 1px solid black;
        }
        
}