
// MAP BOX


 #map-container{
    border: 2px solid orange;
    grid-area: box4;
    padding: 1em;

    h3{
        font-size: $font-size-desktop + .6em;
    }

    p{
        white-space: pre-line;
        margin-top: 2em;
        font-size: $font-size-desktop + .6em;
    }

    #map{
        margin-top: 10em;
    }
}