

// 1-HELPERS (font size variables included)
@import "../1-helpers/var";


//////////////////////* MACBOOK AIR (1440 X 900) */////////////////
//////////////////////////////////////////////////////////

//
//  COMPONENTS STARTS HERE
//


// * 
@import "../1-helpers/font";


// MAIN CONTAINER (INCLUDES EVERYTHING INSIDE)
@import "1-main-container/main-container"; 

    // HEADER
    @import "2-header/header";


    // CONTENT BOX 
    @import "3-content/content";

    // DOES NOT SHOW CALL BUTTON IT'S FOR MOBILE
    .pulse svg{
        position: absolute;
        left: -9999px;
        width: 1px;
    }

    .pulse-instagram svg{
        position: absolute;
        left: -9999px;
        width:1px;
    }
    
    // FOOTER
    @import "4-footer/footer";


/*******************************************************/
