
// HAKKIMDA PROFILE BOX

#hakkımda-profil-anakutu{
    grid-area: profil;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: .4fr 1fr;
    grid-template-areas: 
        "foto yazı";

    

    h3{
        font-size: $font-size-desktop + .6em;
        position: absolute;
        top: 2em;
        left: 2em;
    }

    img{
        margin-top: 6em;
        grid-area: foto;
        width: 11.5em;
        height: 13.5em;
        margin-left: 1.5em;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0.74);
    }

    .yazı1{
        margin-top: 10em;
    }

    p{
        grid-area: yazı;
        font-size: .9em;
        margin-top: 1.5em;
        margin-left: 1.5em;
        margin-right: 1em;
    }
}