

// PROFILE GOES HERE

#hakkımda-profil-anakutu{
    grid-area: profil;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: .4fr 1fr;
    grid-template-areas: 
        "foto yazı";

    

    h3{
        position: absolute;
        top: 1em;
        left: 1em;
    }

    img{
        margin-top: 1.4em;
        grid-area: foto;
        width: 7em;
        height: 7em;
        margin-left: 1.5em;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0.74);
    }

    .yazı1{
        margin-top: 6em;
    }

    p{
        grid-area: yazı;
        font-size: .7em;
        margin-top: 1.5em;
        margin-left: 1.5em;
        margin-right: 1em;
    }

    
}