

// MAP GOES HERE

#map-container{
    border: 2px solid orange;
    grid-area: box4;
    padding: 1em;

    p{
        white-space: pre-line;
        margin-top: 4em;
    }

    #map{
        margin-top: 12em;
    }
}