

// ARAMA BUTONU GOES HERE


.pulse {
    position: fixed!important;
    bottom: 0%;
    left: 85%;
    transform: translate(-50%, -50%);
    background: #9bdc28;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
      z-index:1;

      svg{
          fill: white;
          display: inline;
          transform: rotate(240deg);
      }

      &:before,
      &:after{
        content: " ";
        display: block;
        position: absolute;
        border: 50%;
        border: 2px solid #87bd2a;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: animate 1.5s linear infinite;
        opacity: 0;
        backface-visibility: hidden; 
      }

      &:after{
          animation-delay: .5s;
      }
  }
  
  @keyframes animate
  {
      0%
      {
          transform: scale(0.5);
          opacity: 0;
      }
      50%
      {
          opacity: 1;
      }
      100%
      {
          transform: scale(1.2);
          opacity: 0;
      }
  }
