
// VARIABLES
$font-size-desktop: .8em;
$font-size-mobile:  1em;
$header-font-size-desktop: 2.3em;
$header-font-size-mobile: 1.7em;
$logo-font-size-desktop: 1.2em;
$logo-font-size-mobile: .6em;
$border-rad: 1.25em;