

// CONTENT BOX

main{
    grid-area: main;
    margin: 5em;

    display: grid;
    grid-template-columns: 1.8fr 1fr .8fr;
    grid-template-rows: 0.4fr 0.7fr;
    grid-column-gap: 4em;
    grid-row-gap: 5em;
    grid-template-areas: 
        "box1 box2 box4"
        "box1 box3 box4";

    .box{
        border-radius: $border-rad;
    }

    // do not show doktorTakvimi box
    iframe{
        display: none;
    }

    // HAKKIMDA BOX
    @import "1-hakkımda/hakkımda-main";

    // BIZE ULASIN BOX
    @import "2-bize-ulaşın/bize-ulaşın-main";

    // FOTO GALERI BOX
    @import "3-fotogaleri/fotogaleri-main";

    // MAP BOX
    @import "4-map/map-main";

}